<div style="padding: 10px;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="nm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Local</th>
      <td mat-cell *matCellDef="let element">{{ element.nm }}</td>
    </ng-container>
    <!--<ng-container class="th-class" matColumnDef="obs">
      <th class="th-class" mat-header-cell *matHeaderCellDef mat-sort-header>Obs</th>
      <td class="th-class" mat-cell *matCellDef="let element" [matTooltip]="element.obs">{{ element.obs }}</td>
    </ng-container>-->
    <ng-container style="max-width: 100px;" matColumnDef="viewed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Visto</th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="this.element.viewed" mat-icon-button (click)="checkRecord(this.element)">
          <span class="material-symbols-outlined" style="color: cornflowerblue;">
            where_to_vote
            </span>
        </button>
        <button *ngIf="!this.element.viewed" mat-icon-button (click)="checkRecord(this.element)">
          <span class="material-symbols-outlined">
            location_on
            </span>
        </button>
        <button mat-icon-button (click)="checkRecord(this.element)">
          <span class="material-symbols-outlined">
            edit
          </span>
        </button>
        <button mat-icon-button (click)="checkRecord(this.element)">
          <!-- <mat-icon>delete</mat-icon> -->
          <span class="material-symbols-outlined" style="color: #ec2300;">
            delete
          </span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons aria-label="Selecionar pagina">
  </mat-paginator>
</div>