<mat-card id="add-panel">
  <mat-form-field style="padding-top: 25px; padding-left: 16px; padding-right: 16px;">
    <input id="autocomplete-input" matInput [formControl]="autocompleteInput" placeholder="Digite um local">
  </mat-form-field>
  <mat-card-content style="display: grid;">
    <mat-checkbox (change)="isAccommodation = $event.checked">Acomodação</mat-checkbox>

    <mat-form-field>
      <mat-label>Observações</mat-label>
      <textarea matInput [(ngModel)]="observation"></textarea>
    </mat-form-field>
    <button mat-raised-button style="align-self: self-end;" color="primary" (click)="onSaveClick()">Salve</button>
  </mat-card-content>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>info</mat-icon>
        Informações adicionais
      </mat-panel-title>
      <!--- <mat-panel-description>
  </mat-panel-description>--->
    </mat-expansion-panel-header>
    <div style="width: 300px; padding-left: 16px; padding-right: 16px;" id="add-info"></div>
  </mat-expansion-panel>
</mat-card>